<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Login Landing</title>
</head>
<body>
    <div class="jumbotron">
            <h3>LOGIN</h3>
    
            <form action="/" method="post" id="signupForm">
                <label>User name:</label>
                <input type="text" name="username">
    
                <label>Password:</label>
                <input type="password" name="password">
    
                <input type="submit" value="send">
            </form>
    
    
            <a href="/signup">signup</a>
    
        </div>
    </div>
</body>
</html>